@model IEnumerable<DuitkuApps.Models.Komp_Pengeluaran>

@{
    ViewBag.Title = "Komponen Pengeluaran";
}
<style>
    th {
        text-align: center;
        background-color: red;
        color: white;
    }
</style>

<h2 style="text-align:center;font-weight:bold;font-family:'Harlow Solid';font-size:45px;color:red"><strong>@ViewBag.Title</strong> </h2>
<hr />
<br />
@Html.Raw(ViewBag.Pesan)

@Html.ActionLink("Tambah Komponen Pengeluaran", "Create", "PengeluaranAll", new { @class = "btn btn-success" })
<br /><br /><br />
<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nama_komponen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Batas_max)
            </th>
            <th>Aksi</th>
            <th>Lihat Detail</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nama_komponen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Batas_max)
                </td>
                <td>
                    @Html.ActionLink("Ubah", "Edit", new { id = item.Id_komponen }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Hapus", "Delete", new { id = item.Id_komponen }, new { @class = "btn btn-danger" })
                </td>
                <td>
                    @if (item.Nama_komponen == "Cicilan")
                    {
                        @Html.ActionLink("Detail Cicilan", "TampilCicilan", new { id = item.Id_komponen }, new { @class = "btn btn-info" })
                        @*@Html.ActionLink("Detail Cicilan", "TampilCicilan", "PengeluaranAll", new { @class = "btn btn-info" })*@
                    }
                    else
                    {
                        @Html.ActionLink("Detail Pengeluaran", "TampilPengeluaran", new { id = item.Id_komponen }, new { @class = "btn btn-info" })
                        @*@Html.ActionLink("Detail Pengeluaran", "TampilPengeluaran", "PengeluaranAll", new { @class = "btn btn-info" })*@
                    }


                </td>
            </tr>
        }

    </table>
</div>
 


