@model IEnumerable<DuitkuApps.Models.Penghasilan>
@{
    ViewBag.Title = "Index";
}

<style>
    th {
        text-align: center;
        background-color: red;
        color: white;
    }

    h2 {
        text-align: center;
        font-weight: bold;
        font-family: 'Harlow Solid';
        font-size: 45px;
        color: red;
    }
</style>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">

     $(document).ready(function () {
         $('input[type=datetime]').datepicker({
             dateFormat: "dd/MM/yy",
             changeMonth: true,
             changeYear: true,
             yearRange: "-0:+20"
         });

     });
    </script>

}

<h2 ><strong>Penghasilan</strong> </h2>
<hr />
<br />
@Html.Raw(ViewBag.Pesan)


@using (Html.BeginForm("Cari", "Penghasilan", FormMethod.Post, new { @class = "form-inline" }))
{
    <div>
        <label for="dari">Dari</label>
        <input type="text" id="dari" name="dari" />
        <label for="ke">Ke</label>
        <input type="text" id="ke" name="ke" />
        <input type="submit" value="Cari" class="btn btn-primary btn-sm" />
    </div>

    <script>
        $(function () {
            $("#dari").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                dateFormat: "dd/MM/yy",
                changeYear: true,
                onSelect: function (selectedDate) {
                    $("#ke").datepicker("option", "dari", selectedDate);
                }
            });

            $("#ke").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                dateFormat: "dd/MM/yy",
                changeYear: true,
                onSelect: function (selectedDate) {
                    $("#dari").datepicker("option", "ke", selectedDate);
                }
            });
        });
    </script>
}
<br />
@Html.ActionLink("Tambah Penghasilan", "Create", "Penghasilan", new { @class = "btn btn-success" })
<br /><br /><br />



<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tanggal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nama_penghasilan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jumlah)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Keterangan)
        </th>
        <th></th>
    </tr>

@{ decimal grandtotal = 0;}
@foreach (var item in Model)
{
    var price = string.Format("{0:N0}", item.Jumlah);
    grandtotal += item.Jumlah;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tanggal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nama_penghasilan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jumlah)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Keterangan)
            </td>
            <td style="text-align:center">
                @*@if (item.Tanggal == DateTime.Now)*@
                @*{*@
                @Html.ActionLink("Ubah", "Edit", new { id = item.Id_penghasilan }, new { @class = "btn btn-warning" }) 
                @Html.ActionLink("Hapus", "Delete", new { id = item.Id_penghasilan }, new { @class = "btn btn-danger" })
                @*}*@             
            </td>
        </tr>
    }

</table>

<div class="container">
    <p style="margin-left:350px;font-size:20px">
        <strong>Total  : Rp.@string.Format("{0:N0}", grandtotal)</strong>
    </p>
</div>

